@import url(fields/index.css);

form {
  margin-top: 2.5rem;
  width: 35rem;

  gap: 1rem;

  & label {
    margin-bottom: .75rem;
  }
}

fieldset {
  border: none;

  display: grid;

  gap: 1rem;
}

.child-info .header {
  display: flex;
  align-items: center;
  gap: .75rem;

  & img {
    opacity: 50%;
    height: 1.5rem;
    width: 1.5rem;
  }
}

legend {
  font-family: "Baloo 2", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: #f9f9f9;
}

.inputsdate-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.type-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  & .input-wrappert {
    display: flex;
    background-color: var(--shape-background);
    align-items: center;
    height: 3rem;
    padding: .25rem;
    border-radius: .25rem;

    & .type {
      width: 50%;
    }

    & .online {
      width: 50%;
    }
  }
}

.type {
  display: flex;
  align-items: center;
  background-color: #869198;
  padding: .25rem;
  width: 8.125rem;
  height: 2.5rem;
  border-radius: .25rem;
  justify-content: center;
}

.online {
  display: flex;
  align-items: center;
  padding: .25rem;
  width: 8.125rem;
  height: 2.5rem;
  border-radius: .25rem;
  justify-content: center;
}

.type img {
  width: 1rem;
  height: 1rem;
  color: #59B2FF;
  margin-right: 1.5px;
  margin-left: .4rem;
}

.online img {
  width: 1rem;
  height: 1rem;
  margin-right: 1.5px;
}


.child-personalize .header {
  display: flex;
  align-items: center;
  gap: .75rem;

  margin-top: 3rem;
  margin-bottom: 1.5rem;

  & img {
    opacity: 50%;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.select-cor {
  display: flex;
  gap: .75rem;

  margin-top: 1rem;


  & #im1:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im2:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im3:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im4:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im5:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im6:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im7:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im8:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im9:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im10:hover {
    svg {
      stroke: #59B2FF;
    }
  }

  & #im11:hover {
    svg {
      stroke: #59B2FF;
    }
  }

}

.img {
  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:has(:checked) {
    svg {
      stroke: #59B2FF;
    }
  }
}

.event-theme {
  & label {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
  }
}

.img-theme {
  display: grid;
  grid-template-columns: 8.375rem 8.375rem 8.375rem 8.375rem;
  gap: .5rem;

  margin-bottom: 1.75rem;

  .img {
    background-color: var(--input-stroke);
    border-color: var(--input-placeholder);
    border-radius: .5rem;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    font-weight: normal;

    padding: .25rem .25rem .5rem .25rem;

    img {
      margin-bottom: .4rem;
    }

    position: relative;

    & input,
    & input:focus,
    & input:hover {
      all: unset;
      position: absolute;
      inset: 0;
    }

    &:has(:checked) {
      outline: 2px solid #59B2FF;
    }

  }

  & #imge1:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge2:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge3:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge4:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge5:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge6:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge7:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge8:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge9:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge10:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge11:hover {
    outline: 2px solid #59B2FF;
  }

  & #imge12:hover {
    outline: 2px solid #59B2FF;
  }
}


.child-contact {

  margin-top: 3rem;

  & .header {
    display: flex;
    align-items: center;
    gap: .75rem;
  
    & img {
      opacity: 50%;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .complementary-data {
    display: grid;

    margin-top: 2.5rem;

    grid-template-columns: 1fr 1fr;

    gap: 1rem;
  }

  .form {
    & label {
      margin-bottom: .75rem;
    }
  }
}



