#app {
  display: grid;
  grid-template-columns: 27.77% 72.23%;

  height: 100vh;

  overflow: hidden;

 
}

aside {
  padding: 2rem;
  background-image: url(../assets/Background.svg);
  background-size: cover;

  & .aside-container {
    max-width: 21rem;
    margin-block: auto;

  }

  & .logo {
    width: 2.86rem;
    height: 3rem;
  }
  
  & .title {
    font-family: "Leckerli One", cursive;
    font-size: 2.5rem;
    color: #FF598B;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: .25rem;
  }

  & .sp {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
  }
}

main {
  overflow: auto;
  padding: 5rem 8.125rem;
  background-color: var(--shape-body);


  & .aside-container {
    max-width: 35rem;
    margin-block: auto;
  }
}